<html>
  <body>
    <div
      style="display:flex; flex-direction: column; justify-content: center; align-items: center;"
    >
      <h2>Chat history</h2>
      <table id="chatHistoryTable"></table>
    </div>
  </body>
</html>
