version: '3.9'
services:
  ruuter:
    container_name: byk-private-ruuter
    build:
      context: ./ruuter
      dockerfile: Dockerfile
    environment:
      - application.cors.allowedOrigins=http://localhost:3001, http://localhost:3002
    volumes:
      - ./DSL/Ruuter.private:/DSL
    ports:
      - 8080:8080
    networks:
      - bykstack
  resql:
    container_name: byk-resql
    build:
      context: ./Resql
      dockerfile: Dockerfile
    ports:
      - 8082:8082
    volumes:
      - ./DSL/Resql:/workspace/app/templates/
    networks:
      - bykstack
  opensearch-node:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node
    environment:
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch-node # Name the node that will run in this container
      - discovery.type=single-node
      - bootstrap.memory_lock=true # Disable JVM heap memory swapping
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      - "DISABLE_INSTALL_DEMO_CONFIG=true" # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      - "DISABLE_SECURITY_PLUGIN=true" # Disables security plugin
    ulimits:
      memlock:
        soft: -1 # Set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data # Creates volume called opensearch-data1 and mounts it to the container
    ports:
      - 9200:9200 # REST API
      - 9600:9600 # Performance Analyzer
    networks:
      - bykstack # All of the containers will join the same Docker bridge network
  node:
    container_name: node
    build:
      context: ./DSL/DataMapper
    volumes:
      - ./mock1:/mock1
      - ../Service-Module/DSL/mock1:/mock1
    ports:
      - 3000:3000
    networks:
      - bykstack
  training_gui:
    container_name: training_gui
    build:
      context: ./GUI
      target: web
      dockerfile: Dockerfile
    ports:
      - 3001:80
    volumes:
      - /app/node_modules
      - ./GUI:/app
    networks:
      - bykstack
  postgresql:
    image: postgres:latest
    container_name: training-postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - bykstack

volumes:
  opensearch-data:
networks:
  bykstack:
    name: bykstack
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400
