@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';

.card {
  background-color: get-color(white);
  border: 1px solid get-color(black-coral-2);
  border-radius: $veera-radius-s;

  &__header,
  &__body {
    padding: get-spacing(haapsalu);
  }

  &__header {
    border-bottom: 1px solid get-color(black-coral-2);
  }
}
