@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';

.card {
  $self: &;
  background-color: get-color(white);
  border: 1px solid get-color(black-coral-2);
  border-radius: $veera-radius-s;

  &--borderless {
    border: 0;
    border-radius: 0;

    #{$self}__header {
      border-radius: 0;
    }
  }

  &__header,
  &__body,
  &__footer {
    padding: get-spacing(haapsalu);
  }

  &__header {
    border-bottom: 1px solid get-color(black-coral-2);
    background-color: get-color(extra-light);
    border-radius: $veera-radius-s $veera-radius-s 0 0;
  }

  &__footer {
    border-top: 1px solid get-color(black-coral-2);
  }
}
