getFileLocations:
  call: http.get
  args:
    url: "[#TRAINING_PUBLIC_RUUTER][#TRAINING_PUBLIC_RUUTER_PORT]/return-file-locations"
    headers:
      cookie: {incoming.headers.cookie}
  result: fileLocations

getConfigFile:
  call: http.post
  args:
    url: "[#TRAINING_DMAPPER]:[#TRAINING_DMAPPER_PORT]/file/read"
    body:
      file_path: ${fileLocations.response.body.response.config_location}
  result: configFile

convertYamlToJson:
  call: http.post
  args:
    url: "[#TRAINING_DMAPPER]:[#TRAINING_DMAPPER_PORT]/convert/yaml-to-json"
    body:
      file: ${configFile.response.body.file}
  result: configData

returnSuccess:
  return: ${configData.response.body}
  next: end

returnUnauthorized:
  return: "error: unauthorized"
  next: end
