@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';

.dialog {
  background-color: get-color(white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  z-index: 101;
  max-height: 90vh;

  &--large {
    max-width: 800px;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.54);
    z-index: 100;
  }

  &__header,
  &__body,
  &__footer {
    padding: get-spacing(haapsalu);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: get-spacing(haapsalu);
    background-color: get-color(black-coral-0);
    border-bottom: 1px solid get-color(black-coral-2);
  }

  &__title {
    flex: 1;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  &__body {
    overflow: auto;
    max-height: calc(90vh - 70px);
  }

  &__footer {
    border-top: 1px solid get-color(black-coral-2);
  }
}
