@import 'src/styles/tools/color';

.button-container {
  display: flex;
  gap: 12px;
  margin: 0.3rem 0 0.7rem 0;

  span {
    padding: 0 0.5rem;
    background-color: get-color(sea-green-12);
    color: get-color(white);
    border-radius: 8px;
    box-shadow: 2px 1px 4px rgb(159, 159, 159);
    opacity: 0.7;
  }
}
