@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';

.layout {
  height: 100%;
  display: flex;

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: get-spacing(haapsalu);
    overflow: auto;
    height: 100%;
    padding: get-spacing(haapsalu);
    position: relative;
  }
}
