@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';

.header {
  height: 100px;
  padding: 24px 24px 24px 42px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: get-color(white);
  z-index: 99;
}
