@import '../../../styles/main.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;

  &__date {
    margin-left: auto;
  }
}

.warning {
  font-style: normal;
  font-weight: 400;
  font-size: $veera-font-size-100;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: get-color(black-coral-20);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 8px;

  > span {
    min-width: 171px;
  }
}

.trainingInput {
  display: flex;
  flex-direction: row;
  gap: 16px;

  label {
    width: 171px;
  }

  input {
    width: 400px;
    border: 1px solid get-color(black-coral-6);
    border-radius: 4px;
  }
}

.trainingSwitch {
  height: fit-content;

  .switch {
    gap: 16px;
  }
}

.planDate {
  input {
    width: 150px;
    font-size: $veera-font-size-100;
  }
}

.planDays {
  align-items: center;
  > span {
    color: get-color(black-coral-18);
  }
}

.planTime {
  input {
    width: 125px;
    font-size: $veera-font-size-100;
  }
}

.bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
