@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/typography';

.divider {
  height: 1px;
  background: get-color(black-coral-4);
}

.sorting-control {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $veera-font-size-80;
  line-height: 16px;
  color: get-color(black-coral-11);
  margin-left: auto;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  &.margin-bottom {
    margin-bottom: 10px;
  }

  .switchbox {
    width: unset;
  }

  select {
    appearance: none;
    font-size: $veera-font-size-70;
    line-height: 16px;
    height: 30px;
    min-width: 140px;
    padding: 6px 10px;
    border: 1px solid #8F91A8;
    border-radius: 2px;
    background-color: get-color(white);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4zMTMwNiA1LjgwODIyQzUuMTU2ODUgNS45NjQ0MyA0LjkwMzU4IDUuOTY0NDMgNC43NDczNyA1LjgwODIyTDAuMjgyNzMgMS4zNDM1OEMwLjEyNjUyIDEuMTg3MzcgMC4xMjY1MiAwLjkzNDEwMiAwLjI4MjczIDAuNzc3ODkzTDAuNzc3NzA0IDAuMjgyOTE4QzAuOTMzOTE0IDAuMTI2NzA4IDEuMTg3MTggMC4xMjY3MDggMS4zNDMzOSAwLjI4MjkxN0w1LjAzMDIyIDMuOTY5NzRMOC43MTcwNCAwLjI4MjkxN0M4Ljg3MzI1IDAuMTI2NzA4IDkuMTI2NTIgMC4xMjY3MDggOS4yODI3MyAwLjI4MjkxN0w5Ljc3NzcgMC43Nzc4OTJDOS45MzM5MSAwLjkzNDEwMiA5LjkzMzkxIDEuMTg3MzcgOS43Nzc3IDEuMzQzNThMNS4zMTMwNiA1LjgwODIyWiIgZmlsbD0iIzU1NTg2NyIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: top 11px right 10px;
  }
}
