@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/other';
@import 'src/styles/settings/variables/typography';

.textarea {
  $self: &;
  display: flex;
  align-items: center;
  gap: get-spacing(paldiski);
  width: 100%;

  &__label {
    flex: 0 0 170px;
    font-size: $veera-font-size-100;
    line-height: 24px;
  }

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
  }

  &__error {
    width: 100%;
    margin-right: 6px;
    display: flex;
    align-items: center;
    gap: get-spacing(paldiski);
    color: get-color(black-coral-20);
    border-radius: $veera-radius-s;
    background-color: get-color(jasper-3);
    font-size: 13px;
    line-height: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      display: block;
      background-color: get-color(jasper-3);
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 25px;
    }
  }

  &__max-length {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: $veera-font-size-80;
    color: get-color(black-coral-12);
    pointer-events: none;
  }

  textarea {
    width: 100%;
    display: block;
    appearance: none;
    background-color: get-color(white);
    border: 1px solid get-color(black-coral-6);
    border-radius: $veera-radius-s;
    color: var(--color-black);
    font-size: $veera-font-size-80;
    line-height: $veera-line-height-500;
    height: 40px;
    min-height: 40px;
    padding: get-spacing(paldiski);

    &::placeholder {
      color: get-color(black-coral-6);
    }

    &:focus {
      outline: none;
      border-color: get-color(sapphire-blue-10);
    }
  }

  &--error {
    input {
      border-color: get-color(jasper-10);
    }
  }

  &--disabled & {
    input {
      background-color: get-color(black-coral-0);
    }
  }

  &--maxlength-shown {
    textarea {
      padding-right: 70px;
    }
  }
}
