<script src='/js/example/examples'></script>
<h1>POST example</h1>
<form id="form">
    <input type="text" id="name" />
    <input type="submit" onclick="submitForm(event)" value="submit" />
</form>
<p id="result"></p>
<script>
    var form = document.getElementById("form");
    var result = document.getElementById("result");
    function submitForm(event) {
        event.preventDefault();
        postExample(form.name.value);
        result.innerHTML = "<b>Submitted</b>";
    };
</script>